In [ ]:
#######      !pip install gensim

In [70]:
import pandas as pd
import numpy as np

# Reading CSv file :

In [71]:
df_reviews_ratings = pd.read_csv('PreProcessed_data.csv')
df_reviews_ratings.head(5)

,Reviews,Ratings,Orig_Reviews,no_of_characters,no_of_words,avd_Word_Length,Polarity,Subjectivity
0,horrible noise come washing spinning return ba...,1,Horrible noise coming while washing or spinnin...,712,116,5.129310,-0.069444,0.691667
1,make life easierwrite review month use wash ev...,5,It's made my life easier.Writing this review a...,1366,245,4.563265,0.096825,0.531746
2,would like share experience one onedelivery ex...,5,I would like to share my experience one by one...,2673,453,4.852097,0.229518,0.560618
3,medium could load washing machine got deliver ...,5,The media could not be loaded.\n ...,862,149,4.550336,0.300000,0.556667
4,medium could load defective product recievedth...,2,The media could not be loaded.\n ...,1389,227,4.933921,-0.154167,0.381859

### Removing null values if any :

In [72]:
df_reviews_ratings.isnull().sum()

Reviews             4
Ratings             0
Orig_Reviews        2
no_of_characters    0
no_of_words         0
avd_Word_Length     2
Polarity            0
Subjectivity        0
dtype: int64

In [73]:
df_reviews_ratings=df_reviews_ratings.dropna()

In [74]:
df_reviews_ratings.isnull().sum()

Reviews             0
Ratings             0
Orig_Reviews        0
no_of_characters    0
no_of_words         0
avd_Word_Length     0
Polarity            0
Subjectivity        0
dtype: int64

In [75]:
df_reviews_ratings.reset_index()

,index,Reviews,Ratings,Orig_Reviews,no_of_characters,no_of_words,avd_Word_Length,Polarity,Subjectivity
0,0,horrible noise come washing spinning return ba...,1,Horrible noise coming while washing or spinnin...,712,116,5.129310,-0.069444,0.691667
1,1,make life easierwrite review month use wash ev...,5,It's made my life easier.Writing this review a...,1366,245,4.563265,0.096825,0.531746
2,2,would like share experience one onedelivery ex...,5,I would like to share my experience one by one...,2673,453,4.852097,0.229518,0.560618
3,3,medium could load washing machine got deliver ...,5,The media could not be loaded.\n ...,862,149,4.550336,0.300000,0.556667
4,4,medium could load defective product recievedth...,2,The media could not be loaded.\n ...,1389,227,4.933921,-0.154167,0.381859
...,...,...,...,...,...,...,...,...,...
981,985,nice product value moneydelivery installation ...,5,Nice product..... value for money...Delivery a...,82,12,5.916667,0.600000,1.000000
982,986,dent mark observe body washing machine,1,Dent mark observed on body of washing machine,45,8,4.750000,0.000000,0.000000
983,987,good,1,Good,4,1,4.000000,0.700000,0.600000
984,988,good item nice slowly noise p,5,Good item is nice slowly noise p,32,7,3.714286,0.333333,0.666667
985,989,perfect member,5,Perfect for 3 to 4 members,24,4,4.750000,1.000000,1.000000

# Create Document Term Matrix :

### Topic modleing for Rating : 1

In [76]:
df_reviews_1_ratings= df_reviews_ratings[df_reviews_ratings.Ratings == 1]

In [77]:
df_reviews_1_ratings.shape

(196, 8)

In [78]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

In [79]:
cv = CountVectorizer()
data_cv = cv.fit_transform(df_reviews_1_ratings.Reviews)

In [80]:
data_cv.shape

(196, 1034)

In [81]:
data_stop = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_stop.index = df_reviews_1_ratings.index

In [82]:
data_stop

,able,absolutely,accept,accessory,accommodate,accord,account,action,actual,add,...,worst,worth,worthful,worthy,would,write,year,yes,yet,you
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
934,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Modeling using LDA :

In [83]:
import gensim
from gensim import matutils, models
import scipy.sparse

In [84]:
tdm = data_stop.transpose()
tdm.head()

,0,5,6,7,12,16,20,21,23,24,...,903,904,915,916,922,930,934,941,986,987
able,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
absolutely,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accept,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
accessory,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accommodate,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [85]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [86]:
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [88]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.022*"machine" + 0.015*"use" + 0.014*"one" + 0.014*"product" + 0.014*"wash" + 0.013*"washing" + 0.011*"service" + 0.011*"noise" + 0.010*"clothe" + 0.010*"samsung"'),
 (1,
  '0.037*"product" + 0.028*"machine" + 0.019*"not" + 0.019*"samsung" + 0.017*"do" + 0.015*"installation" + 0.015*"good" + 0.013*"washing" + 0.011*"buy" + 0.011*"service"'),
 (2,
  '0.017*"water" + 0.015*"do" + 0.012*"not" + 0.009*"time" + 0.009*"machine" + 0.008*"take" + 0.008*"quality" + 0.008*"buy" + 0.008*"drum" + 0.007*"waste"')]

In [96]:
lda.get_topics()

array([[0.00042772, 0.00010863, 0.00010972, ..., 0.00146106, 0.00010942,
        0.00011551],
       [0.00193584, 0.00048423, 0.00012179, ..., 0.00012388, 0.00013616,
        0.00012249],
       [0.00057583, 0.00014139, 0.00097866, ..., 0.0004868 , 0.00054189,
        0.0009703 ]], dtype=float32)

### Topic Modeling for Rating : 5

In [89]:
df_reviews_5_ratings= df_reviews_ratings[df_reviews_ratings.Ratings == 5]

In [90]:
data_cv = cv.fit_transform(df_reviews_5_ratings.Reviews)

In [91]:
data_stop = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_stop.index = df_reviews_5_ratings.index

In [92]:
tdm = data_stop.transpose()
tdm.head()

,1,2,3,10,11,18,26,27,30,36,...,976,977,978,980,981,983,984,985,988,989
able,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
absence,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
absolutely,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
access,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accessory,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [94]:
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [95]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.050*"good" + 0.038*"product" + 0.033*"use" + 0.028*"easy" + 0.024*"machine" + 0.017*"samsung" + 0.017*"washing" + 0.013*"noise" + 0.012*"well" + 0.010*"value"'),
 (1,
  '0.025*"machine" + 0.020*"use" + 0.017*"good" + 0.016*"washing" + 0.016*"wash" + 0.014*"clothe" + 0.011*"water" + 0.011*"one" + 0.010*"work" + 0.008*"easy"'),
 (2,
  '0.037*"machine" + 0.035*"product" + 0.025*"washing" + 0.021*"good" + 0.011*"use" + 0.010*"buy" + 0.009*"get" + 0.009*"time" + 0.009*"money" + 0.009*"not"')]